version: '3.8'

services:
  api:
    build: .
    container_name: fastapi_api
    restart: always
    ports:
      - "8000:8000"
    environment:
      PYTHONUNBUFFERED: 1
    env_file:
      - ./.env
    depends_on:
      postgresql:
        condition: service_healthy

  postgresql:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    env_file:
      - ./.env
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5